<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wayout_ver_01">
    <!-- 권한 추가 -->
    <!-- 카메라 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 내 위치 지도 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 외부 저장소 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 인터넷 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 문자 받을 수 있는 권한 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- 문자 전송 할 수 있는 권한 -->
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- 문자를 읽을 수 있는 권한 -->
    <uses-permission android:name="android.permission.READ_SMS" /> <!-- 유저 단말기 정보를 가져 오기 위한 권한 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 인터넷 연결 상태 확인 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WayOut_ver_01"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity.MyPage.MyLikeTheme"
            android:exported="false" />
        <activity
            android:name=".Activity.MyPage.MyManage"
            android:exported="false" />
        <activity
            android:name=".Activity.Search.SearchTheme_read"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.Search.SearchCafe_update"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.Search.SearchCafe_add_theme"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.MyPage.MyShop"
            android:exported="false" />
        <activity
            android:name=".Activity.MyPage.MyLikeCafe"
            android:exported="false" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="ztfhsqjefk" />

        <activity
            android:name=".Activity.Search.SearchCafe_read"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.CreateShop.Search_shop"
            android:exported="false" />
        <activity
            android:name=".Activity.CreateShop.CreateShop_address"
            android:exported="false" />
        <activity
            android:name=".Activity.CreateShop.CreateTheme_write"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.CreateShop.CreateShop_write"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.Gallery.GalleryBoard_reply"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.Gallery.GalleryBoard_read"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.Gallery.GalleryBoard_write"
            android:exported="false" />
        <activity
            android:name=".Activity.FreeBoard.FreeBoard_reply"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.FreeBoard.FreeBoard_update"
            android:exported="false" />
        <activity
            android:name=".Activity.FreeBoard.FreeBoard_read"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.FreeBoard.FreeBoard_write"
            android:exported="false" />

        <receiver
            android:name=".SMSReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.werb.pickphotoview.provider.PickProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pick_file_paths" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.wayout_ver_01"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activity.findResetPw"
            android:exported="false" />
        <activity
            android:name=".Activity.findPw"
            android:exported="false" />
        <activity
            android:name=".Activity.findId"
            android:exported="false" />
        <activity
            android:name=".Activity.UserResetPw"
            android:exported="false"
            android:parentActivityName=".Activity.Home" />
        <activity
            android:name=".Activity.UserReset"
            android:exported="false"
            android:parentActivityName=".Activity.Home" />
        <activity
            android:name=".Activity.Home"
            android:exported="false" />
        <activity
            android:name=".Activity.JoinPhone"
            android:exported="false"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.JoinUser"
            android:exported="true"
            android:parentActivityName=".Activity.JoinPhone" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>